@import "vars/_theme_variables";
@import "mixins/mixins";
@import "mixins/template";
.gavias_sliderlayer{
   background: #f5f5f5!important;
}
.layer-style-image{
  display: inline-block;
  text-align: center;
  img{
    max-width: 100%!important;
    height: auto!important;
  } 
}
.gavias_sliderlayer, #gavias_slider_single{
  .tp-bullets{
    -webkit-opacity: 1!important;
    -ms-opacity: 1!important;
    -o-opacity: 1!important;
    opacity: 1!important;
    visibility: visible!important;
    margin-left: -40px;
    .tp-bullet{
      @include size(20px, 5px); 
      background: rgba(255, 255, 255, 0.4);
      &.selected{
        background: $white;
      }
    }
  }
  .tparrows{
    @include size(36px, 36px);
    background: $white;
    line-height: 36px;
    color: $black;
    font-size: 18px;
    @include box-shadow(0px 2px 3px 0px rgba(0, 0, 0, 0.05));
    @include border-radius(6px);
    @media(max-width: $screen-sm-max){
      @include size(35px, 35px);
      line-height: 35px;
    }
    &:before{
      color: $black;
      line-height: 36px!important;
    }
  }
  
  .tp-caption{
    z-index: 99;
    line-height: 28px;
    color: $black;
  }

  .slide-style-1{
    font-size: 40px;
    font-family: $font-second;
    line-height: 55px;
  }
  .slide-style-2{
    font-size: 68px;
    font-family: $font-family-base;
    line-height: 80px;
    font-weight: 700;
  }
  .slide-style-3{
    font-size: 26px;
    font-family: $font-family-base;
    line-height: 40px;
  }
 
  .sub-title{
    font-family: $font-second;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    color: $white;
    &:after{
      content: "";
      @include size(5px, 100%);
      background: $theme-color;
      position: absolute;
      top: -2px;
      left: 0;
      z-index: 99;
    }
  }
   
  .text-large{
    color: $black;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: none;
  }

  .text-big{
    color: $black;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
  } 

  .text-medium{
    color: rgba(0, 0, 0, 0.6); 
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .small-text{
    color: rgba(255, 255, 255, 0.8); 
    font-size: 16px;
    color: $white;
    line-height: 18px;
  }

  .text-normal{
    @media(max-width: $screen-xs-max){
      font-size: 14px;
    }
  }

  .text-black{
    color: $black!important;
  }

  .text-theme{
    color: $theme-color!important;
  }

  .text-white{
    color: $white!important;
  }

  .text-center{
    text-align: center;
  }

  .text-left{
    text-align: left;
  }

  .btn-slide{
    a{
      background: $theme-color;
      color: $white;
      overflow: hidden;
      @include transition(all 0.3s);
      font-size: 14px;
      font-weight: 500;
      padding: 0 18px;
      position: relative;
      display: inline-block;
      line-height: 38px;
      z-index: 1;
      letter-spacing: 0.5px;
      @include border-radius(4px);
      text-transform: capitalize;
      font-family: $font-second;
      @include box-shadow(0 5px 0 0 darken($theme-color, 10%));
      border: none;
      @media(max-width: $screen-sm-max){
        padding: 0 10px;
        line-height: 30px;
        font-size: 12px;
      }
      @media(max-width: $screen-xs-max){
        padding: 0 6px;
        line-height: 24px;
        font-size: 10px;
      }
      &:hover, &:focus, &:active, &.active{
        color: $white;
        background: darken($theme-color, 10%);
        @include box-shadow(none);
      }
    }
  }

  .btn-slide-white{
    a{
      background: $white;
      color: $theme-color;
      overflow: hidden;
      @include transition(all 0.3s);
      font-size: 14px;
      font-weight: 500;
      padding: 0 18px;
      position: relative;
      display: inline-block;
      line-height: 38px;
      z-index: 1;
      letter-spacing: 0.5px;
      @include border-radius(4px);
      text-transform: capitalize;
      font-family: $font-second;
      @include box-shadow(0 5px 0 0 rgba(0, 0, 0, 0.1));
      border: none;
      @media(max-width: $screen-sm-max){
        padding: 0 10px;
        line-height: 30px;
        font-size: 12px;
      }
      @media(max-width: $screen-xs-max){
        padding: 0 6px;
        line-height: 24px;
        font-size: 10px;
      }
      &:hover, &:focus, &:active, &.active{
        color: $theme-color;
        background: darken($white, 10%);
        @include box-shadow(none);
      }
    }
  }


  .gavias-overlay{
    &:after{
      content: "";
      background: url(#{$base-theme-image-path}grid-slide.png) repeat rgba(0, 0, 0, 0.3);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}   