.nav-tabs, .topbar ul , ul.contact-info, ul.menu{
   list-style: none!important;
   padding-left: 0;
}
.node--view-mode-full{
   p{
    margin-top: 0;
      margin-bottom: 10px;
   }
}

body{
  div.body-page{
    background-color: #fff;
  }
}

.site-branding-logo{
  max-height: inherit;
  img{
    max-height: 80px;
    width: auto;
  }
}

#block-selecteurdelangue {
  padding: 5px;
  .links {
    display: inline-flex;
    li {
      padding: 0 3px;
      a {
        border-right: 1px solid #014289;
        padding-right: 5px;
      }
      &:last-child {
        a {
        border-right: none;
        }
      }
    }
  }
}

.rs {
  li {
    border: 1px solid #014289;
    border-radius: 100%;
    padding: 3px;
    width: 29px;
    height: 29px;
    background-color: #014289;
    a {
      i {
        color: #fff;
      }
    }
  }
}