<footer id="footer" class="footer">

<div class="footer-center newsletter-bloc">
        <div class="container">      
           <div class="row">
              {% if page.menu_faq %}
                <div class="footer-first col-lg-{{ footer_first_size }} col-md-{{ footer_first_size }} col-sm-12 col-xs-12 column">
                  {{ page.menu_faq }}
                </div> 
              {% endif %}

              {% if page.newsletter%}
               <div class="footer-second col-lg-{{ footer_second_size }} col-md-{{ footer_second_size }} col-sm-12 col-xs-12 column">
                  {{ page.newsletter }}
                </div> 
              {% endif %}

              {% if page.logo_footer %}
                <div class="footer-third col-lg-{{ footer_third_size }} col-md-{{ footer_third_size }} col-sm-12 col-xs-12 column">
                  {{ page.logo_footer }}
                </div> 
              {% endif %}

              {% if page.confidential %}
                <div class="area confidential">
                  <div class="container">
                        <div class="content-inner">
                      {{ page.confidential }}
                        </div>
                      </div>
                </div>
              {% endif %}

           </div>   
        </div>
    </div> 



		{% if page.social_network %}
			<div class="area social-network">
				<div class="container">
	          	<div class="content-inner">
						 {{ page.social_network }}
	          	</div>
        		</div>
			</div>
		{% endif %}

  <div class="footer-inner">
    
    {% if page.before_footer %}
     <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="before-footer clearfix area">
                  {{ page.before_footer }}
              </div>
            </div>
          </div>     
        </div>   
      </div> 
     {% endif %}
     
     <div class="footer-center">
        <div class="container">      
           <div class="row">
              {% if page.footer_first %}
                <div class="footer-first col-lg-{{ footer_first_size }} col-md-{{ footer_first_size }} col-sm-12 col-xs-12 column">
                  {{ page.footer_first }}
                </div> 
              {% endif %}

              {% if page.footer_second %}
               <div class="footer-second col-lg-{{ footer_second_size }} col-md-{{ footer_second_size }} col-sm-12 col-xs-12 column">
                  {{ page.footer_second }}
                </div> 
              {% endif %}

              {% if page.footer_third %}
                <div class="footer-third col-lg-{{ footer_third_size }} col-md-{{ footer_third_size }} col-sm-12 col-xs-12 column">
                  {{ page.footer_third }}
                </div> 
              {% endif %}

              {% if page.footer_four %}
                 <div class="footer-four col-lg-{{ footer_four_size }} col-md-{{ footer_four_size }} col-sm-12 col-xs-12 column">
                  {{ page.footer_four }}
                </div> 
              {% endif %}

              {% if page.footer_five %}
                 <div class="footer-five col-lg-{{ footer_first_size }} col-md-{{ footer_first_size }} col-sm-12 col-xs-12 column">
                  {{ page.footer_five }}
                </div> 
              {% endif %}

              {% if page.footer_sixe %}
                 <div class="footer-sixe col-lg-{{ footer_second_size }} col-md-{{ footer_second_size }} col-sm-12 col-xs-12 column">
                  {{ page.footer_sixe }}
                </div> 
              {% endif %}
           </div>   
        </div>
    </div>  
  </div>   

  {% if page.copyright %}
    <div class="copyright">
      <div class="container">
        <div class="copyright-inner">
            {{ page.copyright }}
        </div>   
      </div>   
    </div>
  {% endif %}
 
</footer>

{% if page.cart %}
  <div class="quick-cart">
    <div class="title"><a><span class="icon gv-icon-912"></span>{{ 'Cart'|t}}</a></div>
    <div class="content-inner">{{ page.cart }}</div>
  </div>
{% endif %}