<header id="header" class="header-v3">
  
  {% set class_sticky = '' %}
  {% if sticky_menu == 1 %}
    {% set class_sticky = 'gv-sticky-menu' %}
  {% endif %}  

   <div class="header-main {{ class_sticky }}{% if link_donation is not empty %} has-link-donate{% endif %}">
      <div class="container header-content-layout">
         <div class="header-main-inner p-relative">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 content-inner">
                <div class="branding">
                  {% if page.branding %}
                    {{ page.branding }}
                  {% endif %}
                </div>
                <div class="header-inner clearfix">
                  <div class="main-menu">
                    <div class="area-main-menu">
                      <div class="area-inner">
                        <div class="gva-offcanvas-mobile">
                          <div class="close-offcanvas hidden"><i class="gv-icon-8"></i></div>
                          <div class="main-menu-inner">
                            {% if page.main_menu %}
                              {{ page.main_menu }}
                            {% endif %}
                          </div>

                          {% if page.quick_menu %}
                            <div class="quick-menu">
                              <div class="icon"><a><span class="gv-icon-92"></span></a></div>
                              <div class="content-inner">
                                {{ page.quick_menu }}
                              </div>  
                            </div>
                          {% endif %}

                          {% if page.offcanvas %}
                            <div class="after-offcanvas hidden">
                              {{ page.offcanvas }}
                            </div>
                          {% endif %}
                         
                        </div>
                        
                   

                      </div>
                    </div>
                  </div>  
                </div> 
              </div>

            </div>
         </div>
      </div>
   </div>

</header>
