<header id="header" class="header-v4">
  
  {% if page.topbar %}
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <div class="content">{{ page.topbar }}</div> 
        </div>
      </div>
    </div>
  {% endif %}

  {% set class_sticky = '' %}
  {% if sticky_menu == 1 %}
    {% set class_sticky = 'gv-sticky-menu' %}
  {% endif %}  

  <div class="header-main">
    <div class="container">
      <div class="header-inner clearfix">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12 branding">
            {% if demo_logo == 'enable' %}
              <a href="{{ path('<front>') }}" class="site-branding-logo"><img src="{{theme_path}}/images/logo-4.png" alt="home"/></a>
            {% else %}  
              {% if page.branding %}
                {{ page.branding }}
              {% endif %}
            {% endif %}  
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            {% if page.header_right %}
              {{ page.header_right }}
            {% endif %}
          </div>  
      </div>
    </div>  
  </div>

  <div class="main-menu {{ class_sticky }}">
    <div class="container header-content-layout">
      <div class="header-main-inner p-relative">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 p-static">
            <div class="area-main-menu">
              <div class="area-inner">
                <div class="gva-offcanvas-mobile">
                  <div class="close-offcanvas hidden"><span class="zmdi zmdi-close"></span></div>
                  <div class="main-menu-inner">
                    {% if page.main_menu %}
                      {{ page.main_menu }}
                    {% endif %}
                  </div>

                  {% if page.quick_menu %}
                    <div class="quick-menu">
                      <div class="icon"><a><span class="zmdi zmdi-more"></span></a></div>
                      <div class="content-inner">
                        {{ page.quick_menu }}
                      </div>  
                    </div>
                  {% endif %} 
                            
                  {% if page.offcanvas %}
                    <div class="after-offcanvas hidden">
                      {{ page.offcanvas }}
                    </div>
                 {% endif %}
                </div>
                  

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</header>
