@import 'vars/_variables';
 
// images folder path of theme 
$base-theme-image-path : '../images'!default;

//------- FONTS
$fa-font-path							: "../fonts/" !default;
$font-icon 								: "FontAwesome"!default;
$font-icon-2                     : "gva-icon"!default;
$font-second                     : 'Poppins', sans-serif !default;
//-------- COLOR --------------
$black 			 					   : #000 !default; 
$white                           : #fff !default;  
$nocolor                         : transparent !default;
//--------- COLORS  
$theme-color                      : #014289 !default;  //#0030B8 
$theme-color-second               : #026BB0 !default;
$theme-color-three                : #F49626 !default;
$border-color-dark                : rgba(255, 255, 255, 0.1)!default;
$border-color                     : rgba(0, 0, 0, 0.1)!default; 