.nav-tabs, .topbar ul, ul.contact-info, ul.menu {
  list-style: none !important;
  padding-left: 0; }

.node--view-mode-full p {
  margin-top: 0;
  margin-bottom: 10px; }

body div.body-page {
  background-color: #fff; }

.site-branding-logo {
  max-height: inherit; }
  .site-branding-logo img {
    max-height: 80px;
    width: auto; }

#block-selecteurdelangue {
  padding: 5px; }
  #block-selecteurdelangue .links {
    display: inline-flex; }
    #block-selecteurdelangue .links li {
      padding: 0 3px; }
      #block-selecteurdelangue .links li a {
        border-right: 1px solid #014289;
        padding-right: 5px; }
      #block-selecteurdelangue .links li:last-child a {
        border-right: none; }

.rs li {
  border: 1px solid #014289;
  border-radius: 100%;
  padding: 3px;
  width: 29px;
  height: 29px;
  background-color: #014289; }
  .rs li a i {
    color: #fff; }

/*# sourceMappingURL=update.css.map */
