{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% set title_classes = '' %}
{% if label == '' %}
{% set title_classes = 'no-title' %}
{% endif %}
{%
  set classes = [
    'block gva-block-breadcrumb',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    title_classes
  ]
%}


<div class="breadcrumb-content-inner">
  <div class="gva-breadcrumb-content">
    <div{{ attributes.addClass(classes) }}>
      <div class="breadcrumb-style gva-parallax-background" style="{{ custom_style }}">
        <div class="container">
          <div class="breadcrumb-content-main">
            <h2 class="page-title">{{ breadcrumb_title }} </h2>
            {{ title_prefix }} 
              {% if label %}
                <h2 class="block-title" {{ title_attributes }}><span>{{ label }}</span></h2>
              {% endif %}
            {{ title_suffix }}
            {% block content %}
              <div class="{{ custom_classes }}">
                <div{{ content_attributes.addClass('content block-content') }}>{{ content }}</div>
              </div>  
            {% endblock %}
          </div> 
        </div> 
       <!--  <div class="gva-parallax-inner skrollable skrollable-between" data-bottom-top="top: -80%;" data-top-bottom="top: 0%;"></div>     -->
      </div> 
    </div>  
  </div>  
</div>  

