html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
}

a{
  &:hover, &:focus, &:active{
    @include transition(all 0.35s);
    outline: none!important;
    color: $theme-color;
  } 
}
input, select, textarea{
  &:hover, &:focus, &:active{
    outline: none!important;
  }
}
// images, video
//---------------------------------
img{
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

.video-responsive {
   height        : 0;
   padding-top   : 0;
   padding-bottom: 56.25%;
   position      : relative;
   overflow      : hidden;
   embed,iframe,object,video{
      top     : 0;
      left    : 0;
      width   : 100%;
      height  : 100%;
      position: absolute;
   }
}

h4{
  line-height: 30px!important;
}
h5, h6, .h5, .h6{
  font-weight: 400!important;
  line-height: 30px;
}

.body-page{
  input[type="text"], 
  input[type="tel"],
  input[type="password"],
  input[type="email"],
  textarea, select{
    background-color: #fff;
    @include box-shadow(0 0 2px 2px rgba(0, 0, 0, 0.02) inset);
    border: 1px solid $border-color;
    padding: 5px 10px;
    &:focus, &:active, &:hover{
      outline: none;
    }
  }
}

.label{
  color: #000!important;
}

.list-menu ul li{
  list-style: none;
  padding: 15px 2px;
  font-size: $font-size-base;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   &:last-child{
      border-bottom: none;
    }
}

ul {
  margin: 0;
  padding-left: 30px;
  ul{
    padding-left: 20px;
  }
  li{
    list-style: inherit;
    i{
      margin-right: 3px;
      font-size: 16px;
      min-width: 20px;
      text-align: center;
    }
  } 
}
.item-list{
  ul li{
    margin-left: 0;
  }
}

ul.menu{
  > li{
    position: relative;
    padding: 4px 0;
    > a{
      padding-left: 0;
      @include transition(all 0.35s);
      position: relative;
      &:hover, &:active, &:focus{
        color: $theme-color;
      }
    }
  }
}

ul.feature-list{
  margin-top: 30px;
  > li{
    padding-left: 30px;
    position: relative;
    margin-bottom: 5px;
    &:after{
      content: "\e906";
      font-family: "gva-icon";
      position: absolute;
      top: 2px;
      left: 2px;
      z-index: 1;
      color: $theme-color;
    }
  }
}

ul.inline{
  > li{
    float: left;
    margin-left: 5px;
  }
}


table {
  width: 100%;
  margin-bottom: $line-height-computed;
  border: 1px solid $table-border-color;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border-color: $table-border-color;
        border-width: 1px 1px 1px 0;
        border-style: solid;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}

.no-padding{
  padding: 0!important;
}

a.disable{
  pointer-events: none;
  cursor: default;
}


/************************* Pagination ************************/
.pager .paginations{
  border-radius: 5px;
  display: inline-block;
  margin: 0 30px;
  padding: 4px 3px;
  a {
    border: 1px solid $border-color;
    font-weight: 600;
    display: inline-block;
    height: 35px;
    line-height: 34px;
    margin: 0 1px;
    text-align: center;
    width: 35px;
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
    &.active{
      background: $theme-color;
      border-color: $theme-color;
      color: $white;
    }
  }
}



.breadcrumb-content-inner{
  margin-bottom: 0; 
  text-align: center;
  .breadcrumb-content-main{
    z-index: 9;
    position: absolute;
    bottom: 0;
    padding: 9px 80px;
    width: 602px;
    height: 172px;
    opacity: 0.8;
    background-color: #f9bb48;
  }
  .gva-breadcrumb-content{

    .page-title{
      font-size: 30px;
      font-weight: 500;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-family: $font-second;
      margin-bottom: 5px;
    }
    .gva-block-breadcrumb{
      .breadcrumb-style{ 
        padding: 75px 0;
        margin-bottom: 0;
        position: relative;
        height: 290px;
        @media(max-width: $screen-sm-max){
          min-height: 300px;
        }
      }  
      &.text-white, &.text-light{
        *, .page-title{
          color: $white;
          &:after{
            background: $white;
          }
        } 
        .breadcrumb-links li{
          color: $white;
          a{
            color: $white;
            &:hover{
              color: #999999;
            }
          }
        }
      }
    } 
    .breadcrumb-links{
      nav.breadcrumb{
        display: block;
        ol {
          display: flex;
          flex-direction: column;
          text-align: left;
          li{
            font-size: 24px;
            font-weight: 600;
            color: #064487 !important;
            text-transform: capitalize;
            a{
              font-size: 24px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.45;
              letter-spacing: 0.66px;
              text-align: left;
              color: #fff;
              &:hover{
                color: $theme-color;
              }
            }
            &:nth-child(2) {
              &:before {
                font-family: 'FontAwesome';
                content: '\f054';
                padding: 5px 8px;
                position: relative;
                font-size: 14px;
                margin-left: -20px;
                color: #fff;
                border-radius: 100%;
                background-color: #064487;
              }
            }
          }
        }
      }
    }  
  }
  .gva-parallax-background .gva-parallax-inner{
    background-position: center center;
  }
}  

pre{
  @include border-radius(0!important);
  margin: 30px 0;
}

.drupal-message{
  background: #CDCDCD;
  max-width: 1170px;
  margin: 0 auto;
  position: fixed;
  z-index: 99;
  bottom: 15px;
  left: 50%;
  @include translateX(-50%);
  width: 100%;
  max-height: 50%;
  overflow: auto;
  @include transition(all 0.35s);
  transition-delay: 4px;
  .messages__wrapper{
    padding: 2px 30px 2px 15px;
  }
}
