.area-main-menu{
	.menu-toggle{
		display: none;
	}
}
@media(min-width: $screen-md-min){
	//colors
	.navigation {
		position: relative;
		clear: both;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		.gva_menu {
			float: left;
			position: relative;
			font-size: 0;
			li {
				position: relative;
				a{
					text-align: left!important;
					.icaret{
						margin-left: 10px;
						border: none!important;
						font-size: 12px;
						padding-bottom: 0 !important;
						&:before {
							content: "" !important;
							border: 1px solid #014289;
						}
					}
				}
			}
			> li {
				display: inline-block;
				 &.gva-mega-menu{
				 	position: static!important;
				 	> .sub-menu{
				 		width: 100%;
				 	}
				 }
				&:hover {
					@media(min-width: $screen-sm-max){
						> ul.sub-menu, div.sub-menu {
							display: block;
							visibility: visible;
							@include opacity(1);
							top: 99%;
							-webkit-transform: rotateX(0);
		               -moz-transform: rotateX(0);
		               -ms-transform: rotateX(0);
		               -o-transform: rotateX(0);
		               transform: rotateX(0);
						}
						> a {
							color: $theme-color;
						}
					}	
				}
				> a {
					display: block;
					position: relative;
					font-size: 15px; 
					font-weight: 400;
					text-transform: capitalize;
					//padding: 25px 10px;
					padding: 17px 0px 17px 14px;
					@include transition(all 0.35s);
					text-align: center;
					font-family: $font-second;
					@media(max-width: $screen-md-max){
						padding-left: 10px;
						padding-right: 10px;
					}
					@media(max-width: $screen-sm-max){
						padding-left: 8px;
						padding-right: 8px;
					}
					&:hover, &:active{
						color: $theme-color;
						background-color: #f9b937;
					}
					&:after, &:active{
						color: $theme-color;
						&:before{
							@include opacity(1);
						}
					}

					&.is-active{
						color: $theme-color;	
						&:before{
							@include opacity(1);
						}
					}
					> span{
						position: relative;
						padding-bottom: 6px;
						.icaret{
							
						}
					}
				} 
				&.menu-item--active-trail > a{
					color: $theme-color!important;
				}
				&.megamenu{
					&.menu-columns-2{
						> ul.sub-menu{
							> li{
								width: 50%;
								float: left;
							}
						}
					}
					&.menu-columns-3{
						> ul.sub-menu{
							> li{
								width: 33.33%;
								float: left;
							}
						}
					}
					&.menu-columns-4{
						> ul.sub-menu{
							> li{
								width: 25%;
								float: left;
							}
						}
					}
					&.menu-columns-5{
						> ul.sub-menu{
							> li{
								width: 20%;
								float: left;
							}
						}
					}
				} 
				&.menu-list{
					ul.sub-menu{
						min-width: 250px;
					 	> li{
							border-bottom: 1px solid $border-color;
							> a{
								padding: 10px 15px;
								text-transform: uppercase;
							}
						}	
					}
				}
			}
			.megamenu {
				position: static;
				>.sub-menu {
					width: 100%;
					padding: 20px;
					.sub-menu{
					   -webkit-transform: rotateX(0);
	               -moz-transform: rotateX(0);
	               -ms-transform: rotateX(0);
	               -o-transform: rotateX(0);
	               transform: rotateX(0);
					}
					> li {
						border: none;
						position: static;
						padding: 0 15px;
						> ul.sub-menu {
							@media(min-width:$screen-sm-max){
								display: block!important;
								visibility: visible;
							}
							visibility: visible;
							position: static;
							border-width: 0;
							padding: 0;
							min-width: inherit;
							width: 100%;
							background-color: transparent;
							@include opacity(1);
							@include box-shadow(none);
							li{
							 	padding: 10px 0 0;
							 	margin-bottom: 0;
							 	border: none;
							 	font-family: $font-second;
							}
						}
						> a {
							display: block;
							font-size: 14px;
							color: $black;
							font-weight: 600;
							text-transform: none;
							padding: 0 0 5px;
							margin-bottom: 5px;
							border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important;
							position: relative;
							font-family: $font-second;
							&:after{
								display: none;
							}
							&:hover {
								text-indent: 0;
							}
						}
						&:hover ul {
							transform: translate(0, 0);
						}
					}
				}
			}
			.sub-menu {
				top: 99%;
				@include opacity(0);
				position: absolute;
				min-width: 280px;
				background-color: $white;
				border-top: 3px solid $theme-color;
				z-index: 999;
				left: 0;
				padding: 10px 20px 0;
				visibility: hidden;
				@include opacity(0);
				@include transition(all 0.2s ease-out);
				@include box-shadow(0px 4px 4px 1px rgba(0, 0, 0, 0.2));
				-webkit-transform: rotateX(-90deg);
    			-moz-transform: rotateX(-90deg);
	          -ms-transform: rotateX(-90deg);
	          -o-transform: rotateX(-90deg);
	          transform: rotateX(-90deg);
	          -webkit-transform-origin: 0 0;
	          -moz-transform-origin: 0 0;
	          -ms-transform-origin: 0 0;
	          -o-transform-origin: 0 0;
	          transform-origin: 0 0;
				> li {
					padding: 0 0 9px 0;
					margin-bottom: 9px;
					border-bottom: 1px solid $border-color;
					> a {
						display: block;
						line-height: 26px;
						text-decoration: none;
						font-size: 14px;
						font-weight: 400;
						letter-spacing: 0.5;
						text-transform: none;
						@include transition(all 0.2s ease-out);
						position: relative;
						font-family: $font-second;
						&:hover, &:focus, &:active {
							color: $theme-color;
						}
					}
					&:last-child{
						border-bottom: 0;
					}
					&:first-child {
						a {
							display: block !important;
							right: 0 !important;
							&:after {
								display: none;
							}
						}
					}
					ul {
						position: absolute;
						top: 0;
						right: 0;
						min-width: 250px;
						visibility: hidden;
						@include opacity(0);
						display: none;
						z-index: 11; 
					}
					&:hover > ul {
						@media(min-width: $screen-sm-max){
							visibility: visible;
							@include opacity(1);
							display: block;
							left: 100%;
						}
					}
				}
			}
		}
	}
}	

body.header-absolute{
	.navigation {
		ul.gva_menu{
	   	> li {
	   		> a{
	   			color: $white!important;
	   		}
	   	}
	   }	
	}
}

//Widget inner megamenu
.gva-mega-menu{
	.block-blocktabs{
    position: relative;
    .ui-widget{
      font-family: $font-family-base;
      font-size: $font-size-base;
    }
    .ui-tabs-nav{
      padding: 0;
      position: static;
      width: 15%;
      float: left;
      > li{
        background: none;
        padding: 0;
        margin: 0;
        position: relative;
        width: 100%;
        float: none;
        clear: both;
      	padding-right: 20px;
        > a{
         font-size: 12px;
         text-transform: uppercase;
         font-family: $font-family-base;
        	border-bottom: 1px solid $border-color;
         font-weight: 600;
         padding-bottom: 10px;
        	margin-bottom: 10px;
        	width: 100%;
        }
        &:last-child{
          > a{
            padding-right: 0;
          }
        }
        &.ui-tabs-active{
           > a{
            color: $theme-color;
           }
        }
      }
    }
    .ui-tabs-panel{
    	float: left;
    	width: 85%;
    }
  }
}

.menu--menu-academy {
	.gva_menu {
		background-color: #064487;
		li {
			a {
				color: #fff;
				padding: 12px !important;
			}
			&:focus,
			&:active {
				background-color:#f9b937;
			}
		}
		li:first-child {
			background-color: #fff !important;
			a {
				display: inline-block;
				position: relative;
				right: 9999px;
				&:after {
					content: "\f015";
					font-family: FontAwesome;
					position: absolute;
					right: -9998px;
					color: #064487;
					background-color: #fff;
					font-size: 35px;
					width: 45px;
					height: 45px;
					top: 5px;
					padding: 0 7px;
					line-height: 43px;
				}
			}
		}
	}

}

/*-- Page particuliers --*/
.gim-services {
	.row-wrapper {
		display: flex;
		flex-wrap: wrap;
		.gsc-column  {
			.gsc-image-content {
				text-align: left !important;
				border-radius: 3px;
				border: solid 1px #064487;
				padding: 10px;
				.title {
					position: absolute;
					top: 26%;
					a {
						&:before {
							content: ' ';
							width: 56px;
							height: 2px;
							background-color: #064487;
							display: block;
						}
					}
				}
				.box-content {
					padding: 0;
					margin-top: 50px;
					.read-more {
						a {
							background: #fff !important;
							color: #014289 !important;
							padding: 0 !important;
							&:hover {
								background: #fff !important;
								color: #014289;
							}
							&:after {
								font-family: 'FontAwesome';
								content: '\f054';
								padding: 2px 3px;
								position: relative;
								font-size: 10px;
								margin-left: 4px;
								color: #064487;
								border-radius: 100%;
								border: 1px solid #064487;
							}
						}
					}
				}
				.image {
					height: 60px;
					width: 50px;
				}
			}
		}
	}
}

/*-- Page solutions & services---*/
.gim-solutions-item  {
	.bb-inner {
		padding-bottom: 0 !important;
		.gsc-column  {
			.gsc-image-content {
				position: relative;
				.image {
					position: relative;
				}
				.box-content {
					position: absolute;
					top: 60%;
					left: 0;
					right: 0;
					bottom: 0;
					text-align: left;
					background-color: rgba(1, 66, 137, 0.78);
					.read-more {
						a {
							background: transparent !important;
							font-family: Montserrat;
							font-size: 31px;
							font-weight: normal;
							font-stretch: normal;
							font-style: normal;
							line-height: normal;
							letter-spacing: 0.62px;
							text-align: left;
							padding-bottom: 5px;
							&:before {
								font-family: 'FontAwesome';
								content: '\f054';
								padding: 8px 10px;
								position: relative;
								font-size: 14px;
								margin-left: -10px;
								margin-right: 10px;
								color: #fff;
								border-radius: 100%;
								border: 1px solid #fff;
							}
						}
					}
				}
			}
			.services-bank,
			.services-reseaux {
				margin-left: 0;
			}
			.services-commerce,
			.services-particulier {
				margin-right: 0;
			}
		}
	}

}