body{
  &.hidden-title{
    .node--view-mode-full header{
      display: none!important;
    }
  }
}
/* ----- Maintenance page ----- */
body.maintenance-page {
  background-color: #fff;
  color: #000;
}
.maintenance-page #page-wrapper {
  background: #fff;
  margin-left: auto;
  margin-right: auto; 
  min-width: 0;
  min-height: 0;
  border: 1px solid #ddd;
  margin-top: 40px;
}
.maintenance-page #page {
  margin: 10px;
}
.maintenance-page #main-wrapper {
  min-height: inherit;
}
.maintenance-page #header {
  width: auto;
}
.maintenance-page #main {
  margin: 0;
}
.maintenance-page .content .section {
  padding: 0 0 0 10px; /* LTR */
}
[dir="rtl"] .maintenance-page .content .section {
  padding-left: 0;
  padding-right: 10px;
}
.maintenance-page #header {
  background-color: #fff;
  background-image: none;
}
.maintenance-page .site-branding-text {
  margin-bottom: 50px;
  margin-left: 0; /* LTR */
  padding-top: 20px;
  font-size: 90%;
}
[dir="rtl"] .maintenance-page .site-branding-text {
  margin-right: 0;
}
.maintenance-page .site-branding-text,
.maintenance-page .site-branding-text a,
.maintenance-page .site-branding-text a:hover,
.maintenance-page .site-branding-text a:focus {
  color: #777;
}
.maintenance-page  .page-title {
  line-height: 1em;
  margin-top: 0;
}
@media all and (min-width: 800px) {
  .maintenance-page #page-wrapper {
    width: 800px;
  }
  .maintenance-page #header div.section,
  .maintenance-page #main {
    width: 700px;
  }
}
@media all and (min-width: 600px) { /* @TODO find the proper breakpoint */
  .maintenance-page #page {
    margin: 20px 40px 40px;
  }
}

.page-notfound{
  text-align: center;
  padding: 150px 0;
  background: #f6f6f6;
  @media(max-width: $screen-sm-max){
    padding: 50px 0;
  }
  header{
    display: none!important;
  }
  .big-title{
      font-size: 200px;
      font-weight: 600;
      font-family: $font-second;
      text-transform: uppercase;
      color: $black;
      line-height: 1;
      @media(max-width: $screen-sm-max){
        font-size: 90px;
      }
  }
  .sub-title{
    color: #999999;
    padding: 30px 0;
  }
  .content{
    color: #666666;
    font-size: 16px;
    max-width: 450px;
    margin: 0 auto;
    line-height: 30px;
    @media(max-width: $screen-sm-max){
      padding: 0 20px;
    }
  }
  .action{
    text-align: center;
    margin-top: 30px;
    a{
      font-size: 16px;
      color: $theme-color;
      font-weight: 600;
      font-family: $font-second;
      text-transform: uppercase;
      letter-spacing: 1px;
      &:hover{
        color: $black;
      }
    }
  }
}

.view-page{
  margin-bottom: 50px;
} 

.node--view-mode-full{
  &.node--type-portfolio{
    .post-title{
      font-size: 24px;
      text-transform: uppercase;
      padding: 0;
    }
    .post-meta{
      padding-bottom: 20px;
    }
    .portfolio-images{
      .owl-nav{
        .owl-prev{
          left: 20px!important;
        }
        .owl-next{
          right: 20px!important;
        }
      }
      .owl-dots{
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
      }
    }
  }
}

.portfolio-single{
  padding-bottom: 30px;
  .portfolio-informations{
    margin-bottom: 15px;
    .item-information{
      border-bottom: 1px solid $border-color;
      padding: 15px 0;
      span{
        &:first-child{
          font-weight: 600;
          min-width: 120px;
          display: inline-block;
        }
      }
    }
  }
  .post-content{
    ul{
      padding-left: 20px;
      margin-top: 15px;
    }
  }
}

.team-single-page{
  .team-name{
    margin-bottom: 30px;
    .name{
      font-size: 30px;
      font-weight: 600;
      color: $black;
      line-height: 42px;
    }
    .job{
      font-size: 12px;
      color: #999999;
    }
    .line{
      text-align: center;
      float: left;
      span{
        @include size(30px, 5px);
        @include border-radius(10px);
        display: inline-block;
        margin: 0 5px;
        &.one{
          background: #5EB4E7;
          margin-left: 0;
        }
        &.second{
          background: #F8C44F;
        }
        &.three{
          background: #F49626;
          margin-right: 0;
        }
      }
    }
  }
  .socials{
    margin-top: 10px;
  }
  .heading{
    font-size: 18px;
    font-weight: 600;
    color: $black;
  }
  .team-contact{
    margin-bottom: 25px;
  }
  .team-contact, .team-education{
    .content-inner{
      color: #999999;
      font-size: 13px;
      line-height: 28px;
    }
  }
  .team-education{
    .field__item{
      padding-left: 20px;
      position: relative;
      &:after{
        content: "";
        @include size(6px, 6px);
        background: $theme-color;
        position: absolute;
        top: 8px;
        left: 0;
        @include border-radius(50%);
        z-index: 1;
      }
    }
  }
  .team-info{
    margin-bottom: 30px!important;
  }
  .team-quote{
    font-size: 16px;
    color: #999999;
    margin-top: 20px;
    padding-left: 50px;
    position: relative;
    &:after{
      font-family: "FontAwesome";
      content: "\f10d";
      left: 0;
      top: 0;
      position: absolute;
      z-index: 1;
      color: $theme-color;
      font-size: 24px;
      text-align: center;
      line-height: 40px;
    }
  }
}

.page-user-login, .page-user-register, .page-user-pass{
  position: relative;
  .bg{
    background: #152C49;
    position: fixed;
    @include size(100%, 100%);
    top: 0;
    left: 0;
    z-index: 9;
  }
  input{
    max-width: 100%;
  }
  .main-page{
    padding: 10px 30px 30px;
    @include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
    max-width: 550px;
    background: $white;
    border: 8px solid rgba(255, 255, 255, 0.8);
    @include border-radius(10px); 
    margin: 50px auto 0;
    position: relative;
    z-index: 99;
    @media(max-width: $screen-sm-max){
      margin-top: 35px;
    }
  }
  .branding {
    margin-bottom: 20px;
  }
  .container{
    padding: 0;
  }
  .nav-tabs{
    margin-bottom: 20px;
    > li{
      > a{
        padding: 8px 10px!important;
      }
    }
  }
}

/* ----- Page Accueil ----- */
.header-v1 {
  .topbar {
    .search-block-form {
      padding: 0 10px;
      .form-item {
        .form-search {
          width: 174px !important;
          height: 34px !important;
          border: 0 !important;
          padding: 0 20px !important;
          border-radius: 17px !important;
          background-color: #f9b937 !important;
          color: #fff;
          font-size: 17px;
          font-weight: 200;
          font-stretch: normal;
          font-style: normal;
          line-height: 24.76;
          letter-spacing: 0.34px;
          text-align: left;
          &::placeholder {
            color: rgba(255, 255, 255, 0.5);

          }
        }
      }
      .icon {
        right: 27px;
        top: 9px !important;
        color: #fff !important;
        .better_search {
          width: 18px;
          height: 18px;
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}

#block-gaviassliderlayerslideraccueil {
  .content {
    .gavias_sliderlayer {
      ul {
        li {
          .bg-home-slide {
            width: 600px;
            height: 264px;
            opacity: 0.8;
            border-radius: 5px;
            background-color: #f9bb48;
            padding: 70px 40px;
            h3 {
              font-size: 36px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.4;
              letter-spacing: 0.84px;
              text-align: left;
              color: #064487;
            }
          }
        }
      }
      .tp-bullets {
        top: 45% !important;
        left: 18% !important;
        .tp-bullet {
          border-radius: 8px;
          width: 10px;
          height: 10px;
          border: 1px solid #014289;
          background: transparent;
          &.selected {
            background: #014289 !important;
          }
        }
      }
      .tp-leftarrow {
        top: 65% !important;
        left: 160px !important;
        background: #064487;
        border-radius: 100%;
        height: 40px;
        width: 40px;
        &:before {
          color: #fff !important;
        }
      }
      .tp-rightarrow {
        top: 65% !important;
        left: 23% !important;
        background: #064487;
        border-radius: 100%;
        height: 40px;
        width: 40px;
        &:before {
          color: #fff !important;
        }
      }
    }
  }
}
.section-services {
  .service-title {
    .title-desc {
      width: 489px;
      height: 75px;
      font-size: 33px !important;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.45 !important;
      letter-spacing: 0.66px;
      text-align: center;
      color: #064487 !important;
      h2 {
        line-height: 1.5;
      }
    }
  }
  .slide-service {
    .owl-stage-outer {
      .owl-item {
        .views-field-field-icone {
          padding: 0 30px;
        }
        .views-field-title {
          padding-bottom: 20px;
          a {
            font-family: Montserrat;
            font-size: 22px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.93;
            letter-spacing: 0.44px;
            text-align: center;
            color: #064487;
            &:before {
              content: ' ';
              width: 76px;
              height: 2px;
              background-color: #084387;
              display: block;
              margin: 4px 30px;
            }
          }
        }
        .views-field-view-node {
          padding: 0 30px 10px 30px;
          a {
            border-radius: 5px;
            box-shadow: 0.8px 2.9px 2px 0 rgba(0, 0, 0, 0.6);
            background-color: #f9b937;
            padding: 8px 10px;
            &:hover {
              background-color: #fff;
              color: #01429D;
              border: 1px solid #01429D;
            }
          }
        }
      }
    }
    .owl-nav {
      .owl-prev, .owl-next {
        background: #f0f7ff !important;
        border: 2px solid #014289;
        border-radius: 100%;
      }
    }
  }
}

.section-gim {
  height: 560px;
  .bb-inner {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .gsc-column {
      .title-desc {
        font-family: Montserrat;
        font-size: 33px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.45;
        letter-spacing: 0.66px;
        text-align: center;
        color: #064487;
      }
      .custom-text {
        width: 482px;
        height: 354px;
        font-family: Montserrat;
        font-size: 17px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.34px;
        text-align: left;
        color: #064487;
      }
      .gim-mission {
        width: 574px;
        height: 170.1px;
        position: relative;
        margin-bottom: 0;
        .image {
          position: relative;
        }
        .box-content {
          position: absolute;
          bottom: 10%;
          .read-more {
            a {
              background: none;
              font-family: Montserrat;
              font-size: 24px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: 0.66px;
              text-align: left;
              color: #ffffff;
              padding-bottom: 20px;
              padding-left: 5px;
              &:before {
                content: " ";
                display: block;
                width: 50%;
                padding-top: 5px;
                border-top: 2px solid #fff;
              }
            }
          }
        }
      }
      .gim-vision {
        width: 235.2px;
        height: 170.1px;
        margin-right: 0;
        position: relative;
        margin-bottom: 0;
        .image {
          position: relative;
        }
        .box-content {
          position: absolute;
          bottom: 10%;
          .read-more {
            a {
              background: none;
              font-family: Montserrat;
              font-size: 24px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: 0.66px;
              text-align: left;
              color: #ffffff;
              padding-bottom: 20px;
              padding-left: 5px;
              &:before {
                content: " ";
                display: block;
                width: 50%;
                padding-top: 5px;
                border-top: 2px solid #fff;
              }
            }
          }
        }
      }
      .gim-chiffre  {
        width: 235.2px;
        height: 170.1px;
        margin-left: 0;
        position: relative;
        margin-bottom: 0;
        .image {
          position: relative;
        }
        .box-content {
          position: absolute;
          bottom: 10%;
          .read-more {
            a {
              background: none;
              font-family: Montserrat;
              font-size: 24px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: 0.66px;
              text-align: left;
              color: #ffffff;
              padding-bottom: 20px;
              padding-left: 5px;
              &:before {
                content: " ";
                display: block;
                width: 50%;
                padding-top: 5px;
                border-top: 2px solid #fff;
              }
            }
          }
        }
      }
    }
    .savoir-plus {
      a {
        font-family: Montserrat;
        font-size: 17px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.82;
        letter-spacing: 0.34px;
        text-align: left;
        color: #064487;
        &:after {
          content: ' ';
          display: block;
          width: 23%;
          padding-top: 0px;
          border-bottom: 1px solid #064487;
          padding-bottom: 0;
          margin-top: -11px;
        }
        .icon-arrow {
          margin: 0 2px;
          border-radius: 100%;
          padding: 0 5px;
          background: #064487;
          color: white;
          font-size: 15px;
        }
      }
    }
  }
}

.gim-network {
  height: 541px;
  .bb-inner {
    .bb-container {
      height: auto;
      .custom-text {
        position: absolute;
        bottom: 0;
        top: -550px;
        padding: 0 30px;
        h2 {
          font-size: 33px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.45;
          letter-spacing: 0.66px;
          text-align: left;
        }
        p {
          font-size: 17px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.34px;
          text-align: left;
        }
      }
    }
  }
}

.section-salon {
  height: 475px;
  .custom-text {
    text-align: center;
    position: absolute;
    top: -270px;
    bottom: 0;
    left: 15%;
    right: 15%;
    h2 {
      font-size: 33px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.45;
      letter-spacing: 0.66px;
      text-align: center;
      color: #ffffff;
    }
    p {
      font-size: 17px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.34px;
      text-align: center;
      color: #ffffff;
    }
    .btn {
      margin: 50px 0 0;
      padding: 10px;
      border-radius: 10px;
      background-color: #f9b937;
      &:hover {
        background-color: #fff;
        border: 2px solid #f9b937;
      }
      a {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.76px;
        text-align: center;
        padding: 20px;
      }
    }
  }
}

.after-content {
  height: 300px;
  .block-views-blockmembre-block-1 {
    padding: 30px;
    .block-title {
      text-align: center;
      padding: 30px;
      span {
        font-family: Montserrat;
        font-size: 33px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.45;
        letter-spacing: 0.66px;
        text-align: center;
        color: #064487;
      }
      &:after {
        display: none;
      }
    }
    .content {
      .owl-carousel {
        .owl-nav {
          .owl-prev, .owl-next {
            background: #fff !important;
            border: 2px solid #014289;
            border-radius: 100%;
          }
        }
      }
    }
  }
}

.newsletter-bloc {
  height: 278px;
  background-color: #031d39;
  .menu--menu-faq {
    ul {
      li {
        display: flex;
        flex-direction: column;
        a {
          padding: 5px 0;
          font-size: 16.5px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: 0.33px;
          text-align: left !important;
          color: #fff !important;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  .footer-third {
    float: right;
    .block-block-content {
      img {
        float: right;
      }
    }
  }
  .block-simplenews {
    form {
      width: 300px;
      position: relative;
      .form-item-message {
        text-align: center;
        font-size: 16.5px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 0.33px;
        color: #fff;
      }
      .field--name-mail {
        input {
          width: 350px !important;
          background: #fff !important;
        }
      }
      .form-actions {
        position: absolute;
        right: -150px;
        top: 26px;
        input {
          background: #f9b937 !important;
          color: #014289 !important;
        }
      }
      &:before {
        content: url('/themes/gavias_kunco/images/icon/envelop.svg');
        width: 45px;
        height: 45px;
        position: absolute;
        top: 45%;
        left: -20%;     
        filter: brightness(0) invert(1); 
      }
    }
  }
  .confidential {
    .menu--menu-formulaires {
      text-align: center;
      ul {
        float: none !important;
        li {
          padding: 30px;
          a {
            font-size: 15px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 3.2;
            letter-spacing: 0.3px;
            color: #fff !important;
            text-decoration: underline;
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

.social-network {
  background-color: #064487;
  padding: 10px;
  .rs-footer {
    display: flex;
    justify-content: center;
    h3 {
      font-size: 15px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 3.2;
      letter-spacing: 0.3px;
      color: #fff;
      text-transform: none;
    }
    .inline {
      padding: 20px;
      li {
        background: #fff;
        border-radius: 100%;
        padding: 3px;
        width: 30px;
        height: 30px;
        list-style: none !important;
        a {
          color: #014289;
        }
      }
    }
  }
}

.footer-inner {
  .footer-center {
    .row {
      border-bottom: 1px solid #014289;
      .footer-first,
      .footer-second,
      .footer-third,
      .footer-four,
      .footer-five,
      .footer-sixe {
        width: 16% !important;
        .gva_menu {
          display: flex;
          flex-direction: column;
          li {
            a {
              padding: 5px 0;
              font-size: 12px;
            }
          }
        }
      } 
    }
  }
}

.copyright {
  background-color: #d8d8d8;
  padding: 10px;
  a {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.38px;
    color: #101a2b;
    img {
      width: 115px;
      height: 20px;
      margin: 5px;
    }
  }
}

/* ------ Page Presentation ----*/ 
.historic {
  position: relative;
  height: 500px;
  .block-views-blockhistorique-block-historique {
    .block-title {
      text-align: center !important;
      padding: 10px !important;
      margin: 0 0 60px !important;
      span {
        font-family: Montserrat;
        font-size: 33px !important;
        font-weight: 600 !important;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.45;
        letter-spacing: 0.66px;
        text-align: center;
        color: #064487 !important;
      }
      &:after {
        display: none;
      }
    }
    .content {
      .item-list {
        .list {
          display: flex;
          &:after {
            content: url('/themes/gavias_kunco/images/icon/barre.png');
            position: relative;
            top: 30%;
            width: 100%;
          }
          .view-list-item {
            .views-field-field-date  {
              .field-content{
                font-weight: 600;
                font-size: 18px;
              }
            }
            &:nth-child(1) {
              .views-field-field-date {
                position: absolute;
                bottom: 18px;
                right: 87%;
              }
              .views-field-body {
                position: absolute;
                bottom: 145px;
                width: 200px;
                left: 3%;
              }
            }
            &:nth-child(2) {
              .views-field-field-date {
                position: absolute;
                right: 75%
              }
              .views-field-body {
                position: absolute;
                bottom: -34px;
                width: 200px;
                left: 16%;
              }
            }
            &:nth-child(3) {
              .views-field-field-date {
                position: absolute;
                left: 35%;
                top: 88%;
              }
              .views-field-body {
                position: absolute;
                left: 29%;
                width: 200px;
                bottom: 41%
              }
            }
            &:nth-child(4) {
              .views-field-field-date {
                position: absolute;
                left: 47%;
              }
              .views-field-body {
                position: absolute;
                bottom: -9%;
                width: 200px;
                left: 40%;
              }
            }
            &:nth-child(5) {
              .views-field-field-date {
                    position: absolute;
                    bottom: 4%;
                    right: 38%;
                }
                .views-field-body {
                  position: absolute;
                  left: 52%;
                  width: 200px;
                  bottom: 40%;
                }
              }
              &:nth-child(6) {
                .views-field-field-date {
                  position: absolute;
                  left: 71%;
                  top: 25%;
                }
                .views-field-body {
                  position: absolute;
                  width: 200px;
                  left: 64%;
                  bottom: -9%;
                }
              }
              &:nth-child(7) {
                .views-field-field-date {
                  position: absolute;
                  left: 83%;
                  top: 88%
                }
                .views-field-body {
                  position: absolute;
                  width: 200px;
                  left: 77%;
                  bottom: 41%;
                }
              }
            }
          }
        }
      }
    }
}


.valeurs {
  .bb-inner {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .title-desc {
      padding: 20px 0 0;
      h2 {
        font-family: Montserrat;
        font-size: 33px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.45;
        letter-spacing: 0.66px;
        text-align: center;
        color: #064487;
      }
    }
    .gsc-image-content {
      margin-bottom: 60px !important;
      .box-content {
        h3 {
          font-size: 32px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.65;
          letter-spacing: 0.71px;
          text-align: center;
        }
        p {
          font-size: 20.5px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.41px;
          text-align: center;
        }
      }
    }
  }
}

.gim-mission  {
  height: 390px;
  .custom-text {
    padding: 90px 0 90px 90px;
    h2 {
      font-size: 33px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.45;
      letter-spacing: 0.66px;
      text-align: left;
    }
    ul {
      li {
        font-family: Montserrat;
        font-size: 28px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.66;
        letter-spacing: 0.58px;
        text-align: left;
        list-style: none;
        &:before {
          font-family: 'FontAwesome';
          content: '\f054';
          padding: 5px 8px;
          position: relative;
          font-size: 14px;
          margin-left: -75px;
          margin-right: 25px;
          color: #fff;
          border-radius: 100%;
          background-color: #064487;
        }
      }
    }
  }
}

.salon-monetique {
  height: 500px;
  .monetique-head {
    position: absolute;
    top: 50px;
    right: 25%;
    left: 25%;
    .section-monetique {
      h1 {
        font-size: 54px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.08px;
        text-align: center;
        color: #fff;
        .edition-event {
          border-radius: 2px;
          background-color: #fff;
          font-size: 34.5px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.69px;
          text-align: left;
          color: #064487;
        }
      }
      .info-event {
        text-align: center;
        span {
          font-family: Montserrat;
          font-size: 18px;
          font-weight: 200;
          line-height: normal;
          letter-spacing: 0.61px;
          padding-right: 20px;
          color: #fff;
          img {
            padding-right: 10px;
            width: 30px;
            height: 25px;
          }
        }
      }
      .lien {
        text-align: center;
        border-radius: 3px;
        background-color: #f9b937;
        margin: 50px 130px;
        padding: 10px;
        a {
          font-family: Montserrat;
          font-size: 18px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.58px;
          text-align: center;
          color: #064487;
          .fa {
            padding: 0 8px;
          }
        }
      }
    }
  }
}

.presentation {
  margin: -120px 100px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3.5px 6.1px 32px 0 rgba(0, 0, 0, 0.23);
  background-color: #f0f7ff;
  padding: 50px 40px;
  h2 {
    font-family: Montserrat;
    font-size: 33px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.66px;
    text-align: center;
    color: #064487;
  }
  p {
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.42px;
    text-align: center;
    color: #064487;
  }
  ul {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.42px;
    text-align: center;
    color: #064487;
    padding: 10px;
    li {
      list-style: none;
      padding: 5px 0;
      .fa {
         color: #fff;
          border-radius: 100%;
          background-color: #064487;
          margin: 0 10px;
      }
    }
  }
}

.exposants {
  margin: 10px 120px;
  .block-views {
    h2 {
      span {
        font-family: Montserrat;
        font-size: 33px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.66px;
        text-align: center;
        color: #064487;
      }
      &:after {
        display: none;
      }
    }
    .content {
      .view-content-wrap {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        .item {
          border-radius: 5px;
          background-color: #f9b937;
          margin: 10px;
          flex: 0 0 31%;
          &:nth-child(1),
          &:nth-child(2) {
            flex: 0 0 45%;
          }
          .views-field-title {
            padding: 5px;
            a {
              font-family: Montserrat;
              font-size: 14px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: 0.44px;
              text-align: center;
              color: #064487;

            }
          }
        } 
      }
      .more-link {
        a {
          background: none !important;
          color: #014289;
          border: none !important;
          text-transform: initial;
          text-decoration: underline;
          &:after {
            font-family: 'FontAwesome';
            content: '\f054';
            padding: 3px 5px;
            position: relative;
            font-size: 14px;
            margin-left: 5px;
            color: #fff;
            border-radius: 100%;
            background-color: #064487
          }
        }
      }
    }
  }
}

.agenda {
  margin: 30px 60px;
  .block-title {
    margin-bottom: 60px !important;
    span {
      font-family: Montserrat;
      font-size: 33px !important;
      font-weight: 600 !important;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.66px;
      text-align: center;
      color: #064487 !important;
    }
    &:after {
      display: none;
    }
  }
  .view-content-wrap {
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
    .item {
      text-align: center;
      .agenda-details {
        .img-agenda {
          padding: 30px 40px;
          margin-bottom: 20px;
          border-radius: 10px;
          background-color: #084387;
        }
        span {
          padding: 5px 15px;
          border-radius: 5px;
          background-color: #f9bb48;
          a {
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.52px;
            text-align: center;
            color: #064487;
          }
        }
      }
    }
  }
}
.agenda-section {
  .bb-inner {
    padding-top: 0 !important;
  }
}

.sponsors {
  height: 390px;
  .gsc-image {
    margin: 60px 0;
  }
  .custom-text {
    h2 {
      font-family: Montserrat;
      font-size: 33px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.66px;
      text-align: left;
      color: #064487;
    }
    p {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.42px;
      text-align: left;
      color: #064487;
    }
  }
}
.partenaires {
  .bb-inner {
    padding-top: 30px !important;
    .title-desc {
      font-family: Montserrat;
      font-size: 33px !important;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.45 !important;
      letter-spacing: 0.66px;
      text-align: center;
      color: #064487 !important;
    }
    .widget-content {
      margin: 0 40px 30px 40px;
    }
  }
}

/*-- Page Gim Academy --*/
.academy-header {
  height: 700px;
  .gsc-image-content {
    margin-top: 100px;
    .desc {
      font-size: 27px;
      font-weight: 200;
      font-stretch: normal;
      font-style: italic;
      line-height: normal;
      letter-spacing: 0.54px;
      text-align: right;
    }
  }
}
.academy-pres {
  .bb-inner {
    padding-top: 0 !important;
    .gsc-heading {
      .title-desc {
        h2 {
          font-size: 33px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.66px;
          text-align: center;
          color: #064487;
        }
      }
      .custom-text {
        font-family: Montserrat;
        font-size: 21px;
        line-height: normal;
        letter-spacing: 0.42px;
        text-align: center;
        color: #064487;
      }
    }
  }
}
.gim-formation {
  .bb-inner {
    padding-top: 30px !important;
    .gsc-heading {
      .title-desc {
        h2 {
          font-size: 33px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.66px;
          text-align: center;
          color: #fff;
        }
      }
    }
    .gsc-column {
      .gsc-image-content {
        position: relative;
        .title {
          position: absolute;
          top: 25%;
          left: 22px;
          right: 22px;
          background: #fff;
          opacity: 0.9;      
        }
        .box-content {
          .read-more {
            padding-top: 0;
            .btn-theme {
              background: transparent !important;
              text-decoration: underline;
              &:after {
                font-family: 'FontAwesome';
                content: '\f054';
                padding: 2px 4px;
                position: relative;
                font-size: 11px;
                margin-left: 4px;
                color: #064487;
                border-radius: 100%;
                background-color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
.academy-eval {
  .gsc-column {
    .gsc-image-content {
      border-radius: 5px;
      background: #f9b937;
      display: flex;
      justify-content: center;
      padding: 20px;
      .box-content {
        padding: 20px;
        font-size: 34.5px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.69px;
        text-align: center;
      }
    }
  }
}

/*-- Page particulier item --*/
.particuliers-items,
.avantages {
  .bb-inner {
    padding-top: 50px;
    .custom-text {
      h1 {
        font-size: 37.5px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.75px;
        text-align: left;
        &:before {
          content: ' ';
          width: 56px;
          height: 2px;
          background-color: #064487;
          display: block;
        }
      }
      p {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.42px;
        text-align: left;
      }
      h2 {
        width: 214px;
        height: 50px;
        border-radius: 3px;
        background-color: #064487;
        text-align: center;
        color: #f9b937;
        padding: 10px;
        margin: 30px 0;
      }
      ul {
        li {
          font-size: 18px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 3;
          letter-spacing: 0.42px;
          text-align: left;
          list-style: none;
          &:before {
            font-family: 'FontAwesome';
            content: '\f054';
            padding: 5px 8px;
            position: relative;
            font-size: 18px;
            margin-left: -40px;
            margin-right: 10px;
            color: #064487;
          }
        }
      }
    }
  }
}
.services-demo  {
  .gsc-heading {
    .title {
      &:before {
        display: none;
      }
    }
    .title-desc {
      font-style: italic;
      letter-spacing: 0.42px;
      text-align: center;
      color: #064487 !important;
    }
  }
}

/*-- Page mot du DG --*/
.mot-dg {
  padding-right: 60px;
  border-radius: 5px;
  box-shadow: 0px 15px 32px 0 rgba(0, 0, 0, 0.23);
  .bb-inner {
    padding: 0 !important;
    .gsc-image {
      img {
        border-radius: 100%;
        width: 117px;
        height: 117px;
        border: solid 2px #064487;
      }
    }
    .custom-text {
      h2 {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.15;
        letter-spacing: 0.6px;
        text-align: left;
        color: #064487;
      }
      h3 {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.64;
        letter-spacing: 0.1px;
        text-align: left;
        color: #064487;
      }
      .inline {
        display: inline-block;
        padding-left: 0;
        li {
          list-style: none;
          background: #014289;
          border-radius: 100%;
          a {
            color: #fff;
            padding: 2px;
          }
        }
      }
    }
    
  }
}